<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/logout" method="get">
        <button type="submit">Log out</button>
    </form>
    <p></p>
    <form action="/checked_in" method="post">
        <label for="passport"><b>Passport</b></label>
        <input type="text" placeholder="Enter Passport nr" name="passport" required>
        <button type="submit">Continue</button>
    </form>
</body>
</html>