<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Main page Internal system</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="login"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="login" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Log in</button>
    </form>
</body>
</html>